@model Worker
@{
    Layout = "_Layout";
    
}

<div class="divForEdit">
    <form class="FormForEdit" asp-controller="Worker" asp-action="Create" method="post">
        <a type="button" asp-controller="Worker" asp-action="List" class="close">X</a>
        <h2>
            @ViewBag.WhatEdit
        </h2>
        <ul class="properties">
            <li>
                <span>Введите фамилию работника*</span>
                <input required asp-for="LastName" type="text" placeholder="Фамилия:" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Введите имя работника*</span>
                <input required asp-for="FirstName" type="text" placeholder="Имя:" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Введите отчество работника*</span>
                <input required asp-for="MiddleName" type="text" placeholder="Отчество:" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Введите номер телефона работника*</span>
                <input required asp-for="PhoneNumber" type="text" placeholder="Номер телефона:" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Введите Email работника</span>
                <input asp-for="Email" type="text" placeholder="Email:" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Введите пароль к сайту для работника*</span>
                <input required asp-for="Password" type="text" placeholder="Пароль:" value="1234" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Выберите должность*</span>
                <select required asp-for="PositionId" asp-items="ViewBag.Positions"></select>
            </li>
            <li>
                <span>Выберите квалификацию*</span>
                <select required asp-for="QualificationId" asp-items="ViewBag.Qualifications"></select>
            </li>
            <li>
                <span>Выберите права доступа к сайту*</span>
                <select required asp-for="AccessRightId" asp-items="ViewBag.AccessRights"></select>
            </li>
        </ul>
        <div class="button_place">
            <button type="submit" class="btn btn-success">Создать</button>
            <button type="reset" class="btn btn-danger">Очистить</button>
        </div>
    </form>
</div>