@model Class
@{ 
    Layout = "_Layout";
}

<div class="divForClassInf">
    <div class="divForClassPlace">
        <h2>Расписание</h2>
        <div class="place_main">
            @foreach(var lesson in Model.Lessons)
            {
                foreach()
            }

        </div>

        <h2>Ученики</h2>
        <div class="place_main">
            @{
                int buf = 1;
            }
                @foreach (var student in Model.Students)
                {
                    <a class="_student" asp-controller="Student" asp-action="Information" asp-route-id="@student.Id">
                        @buf) &nbsp @student.LastName @student.FirstName
                        @{ 
                            buf++;
                        }
                    </a>
                }            

        </div>
    </div>
</div>