@model  IEnumerable<IGrouping<int, Class>>
@{
    Layout = "_Layout";
}


<div class="divForClasses">

    @foreach (var el in Model)
    {
        <h2 style="width:100%;">@el.Key-е классы</h2>
        @foreach (var myClass in el)
        {
            <a asp-controller="Class" asp-action="Information" asp-route-id="@myClass.Id">@myClass.ClassType?.Number (@myClass.ClassChar?.CharName)</a>
        }

    }
</div>
            
