@model Student
@{
    Layout = "_Layout";

}

<div class="divForEdit">
    <form class="FormForEdit" asp-controller="Student" asp-action="Create" method="post">
        <a type="button" asp-controller="Student" asp-action="List" class="close">X</a>
        <h2>
            Добавление ученика 
        </h2>
        <ul class="properties">
            <li>
                <span>Введите фамилию ученика*</span>
                <input required asp-for="LastName" type="text" placeholder="Фамилия:"/>
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Введите имя ученика*</span>
                <input required asp-for="FirstName" type="text" placeholder="Имя:" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Введите отчество ученика*</span>
                <input required asp-for="MiddleName" type="text" placeholder="Отчество:" />
                @*<select required asp-for="AvailablePaymentId" asp-items="ViewBag.AvailablePayments"></select>*@
            </li>
            <li>
                <span>Выберите класс*</span>
                <select required asp-for="ClassId" asp-items="ViewBag.Classes"></select>
            </li>            
            @*<li>
                <span>Выберите права доступа к сайту*</span>
                <select required asp-for="ClassId" asp-items="ViewBag.Classes" value="@Model.ClassId"></select>
            </li>*@

        </ul>
        <div class="button_place">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="reset" class="btn btn-danger">Очистить</button>
        </div>
    </form>
</div>